@import 'media';

a {
    text-decoration: none;
}

body > * {
    font-size: 18px;
    box-sizing: border-box;
}
section {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}
.container {
	max-width: 1173px;
    width: 100%;
    display: flex;
    align-items: center;
}
.container-top {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.header {
    display: flex;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.logo {
    display: inline-block;
    font-size: 25px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    list-style: none;
    max-width: 558px;
    width: 100%;
    font-family: 'Tahoma';
}
.navigation__link {
    display: block;
    padding: 13px 0;
}

.navigation__link:hover {
    box-shadow: 0 2px grey;
    transition: .5s;
}

.hamburger {
    display: none;
}

// header end

.development-container {
    position: relative;
    background: url('../img/pexels-photo-356056.jpg') no-repeat;
    background-size: cover;
    min-height: 653px;
    padding-top: 220px;
}

.development-container::before { 
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background: rgba(0, 0, 0, .7)
}

// Универсальный блок заголовков и подписей
.title-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-block-development {
    color: white;
}

.title-block__header {
    font-size: 30px;
    margin-bottom: 5px;
}

.title-block__header-development {
    font-size: 60px;
    z-index: 9;
}

.title-block__text-development {
    font-size: 20px;
    z-index: 9;
}

.title-block__buttons-block {
    z-index: 99;
}

//Кнопки
.scroll-button {
    display: inline-block;
    padding: 13px 15px;
    border: 2x solid white;
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
}

.scroll-button:hover {
    border: 2x solid #00897b;
    background: #00897b;
}

/*
    mediarules block
    width: 765px
*/

@media screen and (max-width: 650px) {
    .development-container {
        padding-top: 150px;
    }
    .title-block__header-development {
        font-size: 50px;
    }
}


@media screen and (max-width: 765px) {
    .navigation {
        display: none;
    }
    .hamburger {
        display: block;
        margin-right: 15px;
        font-size: 30px;
    }
}